<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Vuejs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div id="content" role="main" class="container-md">
        <div class="row">
            <div class="col-lg-12">
                <img src="res/bann.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"><br>
                <div class="card bg-dark text-white">
                    <h3>Ingrese Productos</h3>
                </div><br>
                <div class="card">
                    <form>
                        <div class="card-header">
                          Cree producto
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Nombre producto</label>
                                <input type="text" v-model="nombre" @keyup.enter="crearProducto" class="form-control" id="name" aria-describedby="nombreHelp" required>
                            </div>
                            <div class="form-group">
                                <label for="descrip">Descripción</label>
                                <input type="text" v-model="descripcion" @keyup.enter="crearProducto" class="form-control" id="descrip" required>
                            </div>
                            <div class="form-group">
                                <label for="price">Precio</label>
                                <input type="number" v-model="precio" @keyup.enter="crearProducto" class="form-control" id="price" required>
                            </div>
                            <input @click="crearProducto" type="button" value="Agregar" class="btn btn-dark">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6"><br>
                <div class="card bg-dark text-white">
                    <h3>Lista de productos</h3>
                </div><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(producto, index) in productos">
                            <td>{{ producto.id }}</td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <input v-model="nombreActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    {{producto.nombre}}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <input v-model="descripcionActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    {{producto.descripcion}}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <input v-model="precioActualizar" type="text" class="form-control">
                                </span>
                                <span v-else>
                                    {{producto.precio}}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index"> 
                                    <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                                </span>
                                <span v-else> 
                                    <button @click="verFormActualizar(index)" class="btn btn-success">Actualizar</button>
                                    <button @click="borrarProducto(index)" class="btn btn-danger">Borrar</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="JS/script.js"></script>
</body>
</html>